/* Estilos generales */
* {
  margin: 0;
  padding: 0;
}

html, 
body {
  font-size: 18px;
  background-color: #c5cfd9;
}

/* Estilos del encabezado */
h1 {
  max-width: 940px;
  font-size: 2.5em;
  font-family: Lato, sans-serif;
  font-weight: 700;
  line-height: 1.1;
  margin: 40px 0;
}

/* Estilos de la App */
.App {
  min-height: 100vh;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  text-align: center;
}

/* Contenedor principal */
.contenedor-principal {
  min-height: 600px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

/* Media Queries */
@media (max-width: 768px) {
  h1 {
    font-size: 2em; /* Reducir el tamaño de la fuente en pantallas pequeñas */
  }

  .App {
    flex-direction: column; /* Cambiar a columna en pantallas pequeñas */
  }
}
